<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpacked</title>
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            Webpacked <i class="fas fa-cannabis"></i
            ><small>Just a simple and ignorant template...</small>
          </div>
          <hr class="hrow">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                  <h5 class="headerTitle">Static Assets</h5>
                </div>
                <div class="col-12">
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><i class="fas fa-check-square"></i></span
                      >Styles (scss, css, sass)
                    </li>
                    <li>
                      <span class="fa-li"><i class="fas fa-check-square"></i></span
                      >images (ico,gif,png,jpg,jpeg)
                    </li>
                    <li>
                      <span class="fa-li"><i class="fas fa-check-square"></i></span
                      >Fonts (woff,woff2,eot,otf,svg)
                    </li>
                  </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                  <h5 class="headerTitle">BABEL</h5>
                </div>
                <div class="col-12">
                  <ul class="fa-ul">
                    <li>
                      <span class="fa-li"><i class="fas fa-check-square"></i></span
                      >JavaScript
                    </li>
                    <li>
                      <span class="fa-li"><i class="fas fa-check-square"></i></span
                      >TypeScript
                    </li>
                  </ul>
                  <small style="font-weight: bolder;">Check Developers Console for extra logs</small>
                </div>
            </div>
        </div>
        <div class="col-6">
          <img src="./images/bundler.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="headerTitle">JS Frameworks</h4>
          <hr>
        </div>
        <div class="col-12">


            <div class="row">
                <div class="col-6">

                    <div id="vue_app"></div>
                </div>
                <div class="col-6 text-center">

                    <div id="app"></div>
                </div>
            </div>


        </div>
    </div>

    </div>
  </body>
</html>
